.popover,
.carousel-control,
.icon-prev,
.carousel-control,
.icon-next,
html,
code,
.kbd,
.pre,
.samp,
.font-face,
.glyphicon,
body,
.navbar-brand,
.navbar,
.active,
.icon-bar,
.container-fluid,
.navbar-header {
 
	font-family: 'Rubik', sans-serif;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    float: right;    
}

.navbar-collapse {
	float: right;
}

.jumbotron {
	/*background-image: url(assets/images,glasselectapp.jpg);
	width: 100%;*/
	height: calc(100vh - 50px);

  background: url("../images/realestate2.png");
      /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*        height: 100%;*/ 
color: #fff;
}


.img-hero {
/*  	background: url(assets/images/realestate2.png);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    /*	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}



.hero-content {
    /* background-position: center; */
    /* margin: 20% 33%; */
    /* object-position: center; */
/*    position: absolute;
*/    /* width: 100%; */
    /* float: right; */
/*    top: 30%;
    left: 33%;*/
    text-align: center;
}



.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}

.logo {
	position: absolute;
    top: 12px;
}

.container{
	margin-top: 100px;
}

.container-portfolio{
	margin-top: 100px;
	width: 100%;
/*	max-width: 900px;
	align-content: center;*/
}

.container-contact{
    width: 500px;
    margin: 100px auto 0px;
    background-color: #red;
}

.main-contact{
  background-color: #red;
}


.form-message {
	height: 300px;
  color: black;
font-weight: lighter;
}



.img-portfolio {
padding-right: 30px;
padding-top: 30px;
margin: 30px;
max-width: 400px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #4588b1;
    }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #28353D;
}

.img-portfolio:hover {
  cursor: pointer;
/*  width: 110%;*/
  /*opacity: 0.3;*/

/*	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;*/
	background: url(../assets/images/jweber.jpg);
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 20px #ccc;

}


.btn-primary {
  color: #fff;
  background-color: #4588b1;
  border-color: #4588b1;
}



.home-nav {
  color: #fff;
}

.home-nav:hover {
  color: white;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
}
.navbar-toggle:focus {
  outline: 0s;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 0px;
}


.navbar-inverse .navbar-toggle {
  border-color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #212121}

footer {
    border-top: 1px solid #f5f5f5;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #fff;
    text-align: center;
   
}


.footer-homepage {
border:none;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #535d64;
/*    opacity: .5;*/
    text-align: center;
  }

.text-muted {
  padding-left: 30px;
  padding-top: 5px;
  float: left;
  font-weight: 100;

}

.img-logo {
    width: 23px;
    height: 23px;
     float: right; 
    margin: 3px 5px;
    vertical-align: center;
}

.bgmessage {
background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 48px -8px rgba(179,179,179,0.75);
}

.img-logo:hover {
  opacity: .5;
}

.logo:hover {

  opacity: .8;
}

.img-about {
    height: 540px;
    float: left;
    padding-right: 30px;
  }

/*.txt-about {
   background-color: #f5f5f5;
  border: 1px solid black;
}*/

.social-media-icon {
margin-right: 30px;
}

.form-control:focus {
  border: 1px solid #4588b1;
/*  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
*/
/*box-shadow: 0px 0px 8px #636363;*/
/*box-shadow: 0px 0px 48px -8px rgba(179,179,179,0.75);
*/
box-shadow: none;

}


.txt-hero {
/*  position: absolute;
  left: 33.3%;*/
  color: #fff;
  font-weight: 100;
  margin: 10px auto;
  text-align: center;
}

.txt-box {
      margin: 10% 13%;
    padding: 90px;
}

.txt-main {
      text-align: center;
}

@media only screen and (max-width: 768px) {
  .img-about {
    max-height: 500px;
    float: left;
    padding-right: 30px;
}
}

@media only screen and (max-width: 640px) {
  .img-about {
    max-height: 300px;
    float: none;
    /* padding-right: 30px; */
    /* background-position: center; */
    margin: 0px auto;
    display: block;
}



.container-contact{
    width: 100%;
    margin: 100px auto;
    padding: 0px 50px;
}

}









